language: go

go:
    - 1.8
    - tip

go_import_path: github.com/ptt/pttweb

sudo: required
dist: trusty

install:
    - sudo add-apt-repository 'deb http://archive.ubuntu.com/ubuntu/ yakkety main'
    - sudo apt-get -qq update
    - sudo apt-get install -y protobuf-compiler
    - go get google.golang.org/grpc
    - go get -u github.com/golang/protobuf/{proto,protoc-gen-go}
    - make -C $GOPATH/src/github.com/ptt/pttweb/proto
    - go get -u -t -f github.com/ptt/pttweb/...
